# You can whitelist files/folders with !, these will not be ignored.
# !*.yaml
# !.git
# !*.md

*.pid
*.xml
*.csr
*.crt
*.key
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
emulated_hue_ids.json
known_devices.yaml
entity_registry.yaml
pyozw.sqlite
ecobee.conf
phue.conf
tts
update.sh
.ios.conf
.HA_VERSION
.uuid
.gitignore
configurator.py
.cloud
html5_push_registrations.conf
automations.yaml
.spotify-token-cache
.finish_06_gmail_com.tile.conf

# Personal
ip_bans.yaml
secrets.yaml

# zwave
zwscene.xml
zwave_device_config.yaml

# Software modules
node_modules/

# Tensorflow
tensorflow/

# Custom components
/themes

# Harmony remote configs
harmony*.conf

# Plugins
/node-red/
/www/
custom_components/